<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <% include products/head.ejs %>
  <body>
    <div class="container">
    <h1>Welcome to <%= title %></h1>
    <p> Mainpage </p>
    <form action="login" method="post">
      <input type="submit" value="Login"> 
    </form>
    </div>
  </body>
</html>
